.main-view {
  width: 100%;
  height: 100%;
  background-color: #a47449;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-headline {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 8rem;
}

.game-btn {
  width: 20%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.fen-input {
  margin: 8px;
  width: 20%;
  padding: 16px;
  border-radius: 8px;
}

.fen-input:focus {
  outline: none;
}

.game-type-btn {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
}

.game-type-select {
  display: flex;
  flex-direction: row;
  width: 20%;
  gap: 4px;
}

.game-type-select .selected {
  border: 2px solid blue;
}
